* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.cv-container {
  width: 800px;
  background: white;
  display: flex;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

/* Bên trái */
.left-side {
  width: 40%;
  background: #333;
  color: white;
  padding: 20px;
}

.left-side .profile {
  text-align: center;
  margin-bottom: 20px;
}

.left-side .profile img {
  width: 160px;
  height:160px;
  background: white;
  border-radius: 50%;
  margin-bottom: 10px;
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
  border-bottom: 2px solid #999;
  padding-bottom: 5px;
}

p, li {
  font-size: 14px;
  line-height: 1.6;
}

.skills div {
  margin: 8px 0;
}

.bar {
  height: 6px;
  background: #666;
  border-radius: 5px;
  overflow: hidden;
}

.bar span {
  display: block;
  height: 100%;
  background: #fff;
  width: 70%;
}

/* Bên phải */
.right-side {
  width: 60%;
  padding: 20px 30px;
}

.name {
  font-size: 28px;
  font-weight: bold;
  border-bottom: 2px solid #ccc;
  margin-bottom: 10px;
}

.title {
  font-size: 16px;
  margin-bottom: 20px;
  color: #444;
}

.section {
  margin-bottom: 20px;
}

.section h3 {
  font-size: 18px;
  color: #222;
  margin-bottom: 10px;
  border-bottom: 2px solid #ddd;
  display: inline-block;
  padding-bottom: 5px;
}

.section .item {
  margin-bottom: 15px;
}

.item span {
  font-weight: bold;
  color: #555;
}